In [1]:
import pandas as pd

In [8]:
dog_pack = pd.read_csv("dogs_data.csv").iloc[:,1:5]

In [9]:
print(dog_pack)

         breed  color  height_cm  weight_kg
0     Labrador  Brown         56         24
1       Poodle  Black         43         24
2    Chow Chow  Brown         46         24
3    Schnauzer   Gray         49         17
4     Labrador  Black         59         29
5    Chihuahua    Tan         18          2
6  St. Bernard  White         77         74

In [10]:
dogs_height_by_breed_vs_color = dog_pack.pivot_table("height_cm",index="breed",columns="color")
print(dogs_height_by_breed_vs_color)

color        Black  Brown  Gray   Tan  White
breed
Chihuahua      NaN    NaN   NaN  18.0    NaN
Chow Chow      NaN   46.0   NaN   NaN    NaN
Labrador      59.0   56.0   NaN   NaN    NaN
Poodle        43.0    NaN   NaN   NaN    NaN
Schnauzer      NaN    NaN  49.0   NaN    NaN
St. Bernard    NaN    NaN   NaN   NaN   77.0

##  .loc[] + slicing is a power combo

In [12]:
dogs_height_by_breed_vs_color.loc["Chow Chow":"Poodle"]

color      Black  Brown  Gray  Tan  White
breed
Chow Chow    NaN   46.0   NaN  NaN    NaN
Labrador    59.0   56.0   NaN  NaN    NaN
Poodle      43.0    NaN   NaN  NaN    NaN

##  The axis argument

In [13]:
dogs_height_by_breed_vs_color.mean(axis="index")

color
Black    51.0
Brown    51.0
Gray     49.0
Tan      18.0
White    77.0
dtype: float64

In [14]:
dogs_height_by_breed_vs_color.mean(axis="columns")

breed
Chihuahua      18.0
Chow Chow      46.0
Labrador       57.5
Poodle         43.0
Schnauzer      49.0
St. Bernard    77.0
dtype: float64