In [1]:
import pandas as pd

In [2]:
dogs = pd.read_csv("dogs_data.csv")

In [3]:
dogs

      name        breed  color  height_cm  weight_kg date_of_birth
0    Bella     Labrador  Brown         56         24    2013-07-01
1  Charlie       Poodle  Black         43         24    2016-09-16
2     Lucy    Chow Chow  Brown         46         24    2014-08-25
3   Cooper    Schnauzer   Gray         49         17    2011-12-11
4      Max     Labrador  Black         59         29    2017-01-20
5   Stella    Chihuahua    Tan         18          2    2015-04-20
6   Bernie  St. Bernard  White         77         74    2018-02-27

## sort the index before you slice

In [4]:
dogs_srt = dogs.set_index(["breed","color"]).sort_index()
print(dogs_srt)

                      name  height_cm  weight_kg date_of_birth
breed       color
Chihuahua   Tan     Stella         18          2    2015-04-20
Chow Chow   Brown     Lucy         46         24    2014-08-25
Labrador    Black      Max         59         29    2017-01-20
            Brown    Bella         56         24    2013-07-01
Poodle      Black  Charlie         43         24    2016-09-16
Schnauzer   Gray    Cooper         49         17    2011-12-11
St. Bernard White   Bernie         77         74    2018-02-27

In [13]:
dogs_srt.loc["Chow Chow":"Poodle"] # The final value is included

                    name  height_cm  weight_kg date_of_birth
breed     color
Chow Chow Brown     Lucy         46         24    2014-08-25
Labrador  Black      Max         59         29    2017-01-20
          Brown    Bella         56         24    2013-07-01
Poodle    Black  Charlie         43         24    2016-09-16

## Slicing the inner index levels badly
- The same technique doesn't work on inner index levels.

In [15]:
dogs_srt.loc["Tan":"Grey"]

Empty DataFrame
Columns: [name, height_cm, weight_kg, date_of_birth]
Index: []

- The correct approach

In [16]:
dogs_srt.loc[("Labrador","Brown"):("Schnauzer","Gray")]

                    name  height_cm  weight_kg date_of_birth
breed     color
Labrador  Brown    Bella         56         24    2013-07-01
Poodle    Black  Charlie         43         24    2016-09-16
Schnauzer Gray    Cooper         49         17    2011-12-11

## Slicing columns

In [17]:
dogs_srt.loc[:,"name":"height_cm"]

                      name  height_cm
breed       color
Chihuahua   Tan     Stella         18
Chow Chow   Brown     Lucy         46
Labrador    Black      Max         59
            Brown    Bella         56
Poodle      Black  Charlie         43
Schnauzer   Gray    Cooper         49
St. Bernard White   Bernie         77

## slice twice

In [18]:
dogs_srt.loc[("Labrador","Brown"):("Schnauzer","Grey"),"name":"height_cm"]

                    name  height_cm
breed     color
Labrador  Brown    Bella         56
Poodle    Black  Charlie         43
Schnauzer Gray    Cooper         49

## slicing by dates

In [21]:
dogs = dogs.set_index("date_of_birth").sort_index()
print(dogs)

                  name        breed  color  height_cm  weight_kg
date_of_birth
2011-12-11      Cooper    Schnauzer   Gray         49         17
2013-07-01       Bella     Labrador  Brown         56         24
2014-08-25        Lucy    Chow Chow  Brown         46         24
2015-04-20      Stella    Chihuahua    Tan         18          2
2016-09-16     Charlie       Poodle  Black         43         24
2017-01-20         Max     Labrador  Black         59         29
2018-02-27      Bernie  St. Bernard  White         77         74

In [23]:
# Get dogs with date_of_birth between 2014-08-25 and 2016-09-16
dogs.loc["2014-08-25":"2016-09-16"]

                  name      breed  color  height_cm  weight_kg
date_of_birth
2014-08-25        Lucy  Chow Chow  Brown         46         24
2015-04-20      Stella  Chihuahua    Tan         18          2
2016-09-16     Charlie     Poodle  Black         43         24

In [24]:
dogs.loc["2014":"2016"]

                 name      breed  color  height_cm  weight_kg
date_of_birth
2014-08-25       Lucy  Chow Chow  Brown         46         24
2015-04-20     Stella  Chihuahua    Tan         18          2

##  Subsetting by row/column number

In [25]:
print(dogs.iloc[2:5,1:4])

                   breed  color  height_cm
date_of_birth
2014-08-25     Chow Chow  Brown         46
2015-04-20     Chihuahua    Tan         18
2016-09-16        Poodle  Black         43