# Statistics

In [1]:
import pandas as pd

In [2]:
dogs = pd.read_csv("dogs_data.csv")

In [3]:
dogs["height_cm"].mean()

np.float64(49.714285714285715)

## Summarizing dates

In [5]:
dogs["date_of_birth"].min()

'2011-12-11'

In [6]:
dogs["date_of_birth"].max()

'2018-02-27'

## The .agg() method

In [7]:
def pct30(column):
    return column.quantile(0.3)

In [8]:
dogs["weight_kg"].agg(pct30)

np.float64(22.599999999999998)

In [9]:
dogs[["weight_kg","height_cm"]].agg(pct30)

weight_kg    22.6
height_cm    45.4
dtype: float64

In [10]:
def pct40(column):
    return column.quantile(0.4)

In [11]:
dogs["weight_kg"].agg([pct30,pct40])

pct30    22.6
pct40    24.0
Name: weight_kg, dtype: float64

## Cumulative sum

In [12]:
dogs["weight_kg"]

0    24
1    24
2    24
3    17
4    29
5     2
6    74
Name: weight_kg, dtype: int64

In [13]:
dogs["weight_kg"].cumsum()

0     24
1     48
2     72
3     89
4    118
5    120
6    194
Name: weight_kg, dtype: int64

In [14]:
dogs["weight_kg"].cummax()

0    24
1    24
2    24
3    24
4    29
5    29
6    74
Name: weight_kg, dtype: int64

In [15]:
dogs["weight_kg"].cumprod()

0            24
1           576
2         13824
3        235008
4       6815232
5      13630464
6    1008654336
Name: weight_kg, dtype: int64

# Counting

### how to summarize categorical data using counting.

In [17]:
vet_visits = pd.read_csv("Vet_visit.csv")

In [20]:
print(vet_visits.head())

         date    name      breed  weight_kg
0  2018-09-02   Bella   Labrador      24.87
1  2019-06-07     Max   Labrador      28.35
2  2018-01-17  Stella  Chihuahua       1.51
3  2019-10-19    Lucy  Chow Chow      24.07
4  2018-01-20  Stella  Chihuahua       2.83

## Dropping duplicate names

vet_visits.drop_duplicates(subset="name")

In [26]:
unique_dogs = vet_visits.drop_duplicates(subset=["name","breed"])
print(unique_dogs.head())

         date    name      breed  weight_kg
0  2018-09-02   Bella   Labrador      24.87
1  2019-06-07     Max   Labrador      28.35
2  2018-01-17  Stella  Chihuahua       1.51
3  2019-10-19    Lucy  Chow Chow      24.07
5  2019-06-07     Max  Chow Chow      24.01

## count values

In [27]:
unique_dogs["breed"].value_counts()

breed
Chow Chow    7
Labrador     6
Poodle       6
Beagle       6
Chihuahua    5
Bulldog      3
Name: count, dtype: int64

In [28]:
unique_dogs["breed"].value_counts(sort=True)

breed
Chow Chow    7
Labrador     6
Poodle       6
Beagle       6
Chihuahua    5
Bulldog      3
Name: count, dtype: int64

## proportion

- The normalize argument can be used to turn the counts into proportions of the total

In [30]:
unique_dogs["breed"].value_counts(normalize=True)

breed
Chow Chow    0.212121
Labrador     0.181818
Poodle       0.181818
Beagle       0.181818
Chihuahua    0.151515
Bulldog      0.090909
Name: proportion, dtype: float64

# Grouped summary statistics

In [33]:
print(dogs [dogs [ "color"] == "Black"] ["weight_kg"].mean())
print(dogs [dogs [ "color"] == "Brown"] ["weight_kg"].mean())
print(dogs [dogs [ "color"] == "White"] ["weight_kg"].mean())
print(dogs [dogs [ "color"] == "Gray"] ["weight_kg"].mean())
print(dogs [dogs [ "color"] == "Tan"] ["weight_kg"].mean())

26.5
24.0
74.0
17.0
2.0

In [34]:
dogs.groupby("color")["weight_kg"].mean()

color
Black    26.5
Brown    24.0
Gray     17.0
Tan       2.0
White    74.0
Name: weight_kg, dtype: float64

## Multiple grouped summaries

In [41]:
print(dogs.groupby("color")["weight_kg"].agg(["min","max","sum"]))

       min  max  sum
color
Black   24   29   53
Brown   24   24   48
Gray    17   17   17
Tan      2    2    2
White   74   74   74

In [43]:
print(dogs.groupby(["color","breed"])["weight_kg"].mean())

color  breed
Black  Labrador       29.0
       Poodle         24.0
Brown  Chow Chow      24.0
       Labrador       24.0
Gray   Schnauzer      17.0
Tan    Chihuahua       2.0
White  St. Bernard    74.0
Name: weight_kg, dtype: float64

# Pivot tables

- Pivot tables are another way of calculating grouped summary statistics

In [44]:
dogs.pivot_table(values="weight_kg",index="color")

       weight_kg
color
Black       26.5
Brown       24.0
Gray        17.0
Tan          2.0
White       74.0

In [49]:
dogs.pivot_table(values="weight_kg",index="color",aggfunc="median")

       weight_kg
color
Black       26.5
Brown       24.0
Gray        17.0
Tan          2.0
White       74.0

In [50]:
dogs.pivot_table(values="weight_kg",index="color",aggfunc=["median","mean"])

         median      mean
      weight_kg weight_kg
color
Black      26.5      26.5
Brown      24.0      24.0
Gray       17.0      17.0
Tan         2.0       2.0
White      74.0      74.0

## Pivot on two variables

In [51]:
dogs.pivot_table(values="weight_kg",index="color",columns="breed")

breed  Chihuahua  Chow Chow  Labrador  Poodle  Schnauzer  St. Bernard
color
Black        NaN        NaN      29.0    24.0        NaN          NaN
Brown        NaN       24.0      24.0     NaN        NaN          NaN
Gray         NaN        NaN       NaN     NaN       17.0          NaN
Tan          2.0        NaN       NaN     NaN        NaN          NaN
White        NaN        NaN       NaN     NaN        NaN         74.0

## Filling missing values in pivot tables

In [52]:
dogs.pivot_table(values="weight_kg",index="color",columns="breed",fill_value=0)

breed  Chihuahua  Chow Chow  Labrador  Poodle  Schnauzer  St. Bernard
color
Black        0.0        0.0      29.0    24.0        0.0          0.0
Brown        0.0       24.0      24.0     0.0        0.0          0.0
Gray         0.0        0.0       0.0     0.0       17.0          0.0
Tan          2.0        0.0       0.0     0.0        0.0          0.0
White        0.0        0.0       0.0     0.0        0.0         74.0

##  Summing with pivot tables

In [53]:
dogs.pivot_table(values="weight_kg",index="color",columns="breed",fill_value=0,margins=True)

breed,Chihuahua,Chow Chow,Labrador,Poodle,Schnauzer,St. Bernard,All
color,,,,,,,
Black,0.0,0.0,29.0,24.0,0.0,0.0,26.500000
Brown,0.0,24.0,24.0,0.0,0.0,0.0,24.000000
Gray,0.0,0.0,0.0,0.0,17.0,0.0,17.000000
Tan,2.0,0.0,0.0,0.0,0.0,0.0,2.000000
White,0.0,0.0,0.0,0.0,0.0,74.0,74.000000
All,2.0,24.0,26.5,24.0,17.0,74.0,27.714286